.dialogs {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: 2fr 8fr;
      overflow: hidden;
}

.dialogsItem {
      list-style-type: none;
      padding: 10px;
      background: rgb(224, 132, 11);
      height: 100%;

}

.item {
      padding: 10px 0;
      border-radius: 10px;
      border: 1px solid black;
      margin-bottom: 3px;
}


.userItem {
      margin: 2px;
      text-decoration: none;
      color: black;

}

.active {
      text-align: center;
      letter-spacing: 1.5px;
}

.massages {
      display: flex;
      flex-direction: column;


}

.massagesElementItems {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      height: 100%;

}

.massage__text {
      display: inline-block;
      width: fit-content;
      margin: 5px 0 5px 15px;
      padding: 8px;

      position: relative;

      background: white;
      border-radius: 4px 4px 4px 0px;
      color: black;
      font-size: 16px;
      letter-spacing: 1.25px;
}

.massage__text:before {
      content: '';
      position: absolute;
      left: -10px;
      bottom: 0px;

      width: 0;
      height: 0;
      border-bottom: 10px solid white;
      border-left: 10px solid transparent;
}